html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

    body[env="dev"] {
        background-color: gray;
    }

    body[env="staging"] {
        background-color: lightblue;
    }

header, footer {
    background-color: deepskyblue;
    padding: 10px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product {
    float: left;
    font-size: larger;
    font-weight: 800;
}

.user {
    float: right;
}

.doc-link {
    float: left;
    text-align: left;
}

.app-version {
    float: right;
    text-align: right;
}

.script {
    flex: 1;
    overflow: hidden;
}

.textBox {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.index-resizable-divider{
    height: 5px;
    background-color: gray;
}

.result {
    flex: 1;
    overflow: hidden;
}

table.resultTable,
table.resultTable th,
table.resultTable td {
    border: 1px solid;
    border-width: thin;
    border-color: cornflowerblue;
}
