@page
@model IndexModel
@{
    ViewData["Title"] = "KustoX - Portal";
}

<div class="script">
    <textarea id="scriptText" class="textBox"></textarea>
</div>
<div class="index-resizable-divider"></div>
<div class="result">
    <table id="resultTable" class="resultTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Request.Headers)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#resultTable').DataTable({
                "scrollCollapse": true,
                "paging": false,
                "searching": false,
                "info": false,
                "scrollY": "400px"
            });
        });
    </script>
</div>
