@page
@model IndexModel
@{
    ViewData["Title"] = "KustoX - Portal";
}

<div class="script">
    <textarea id="scriptText" class="textBox"></textarea>
</div>
<div class="result">
    <table id="resultTable" class="resultTable">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        @foreach (var pair in Request.Headers.Where(p => p.Key.StartsWith("X")))
        {
            <tr>
                <td>@pair.Key</td>
                <td>@pair.Value</td>
            </tr>
        }
    </table>
</div>
