<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="css/mainsheet.css">
</head>
<body>
    <header class="header">
        <div class="product">
            @ViewData["Title"]
        </div>
        <div class="user">
            User2
        </div>
    </header>
    <div class="main">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="doc-link">
            Documentation & user guide can be
            <a target="_blank" href="TODO">
                found here
            </a>.
        </div>
        <div class="app-version">
            @Program.Version
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>